<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />

		<!-- Розділ аутентифікації та авторизації -->
		<authentication mode="Forms">
			<forms loginUrl="~/User/login.aspx" timeout="30" />
		</authentication>
		<authorization>
			<deny users="?" />
			<!-- Забороняємо доступ незареєстрованим користувачам -->
		</authorization>
	</system.web>

	<system.codedom>
		<compilers>
			
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>

	<!-- Розділ підключення до бази даних -->
	<connectionStrings>
		<add name="MyDbContext" connectionString="Server=DESKTOP-LF4GH5U\SQLEXPRESS;Database=supporters;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>
